{% extends "auctions/layout.html" %}

{% block body %}
    <h1>{{ listing.title }}</h1>
    {% if request.user == listing.owner %}
      <a href="{% url 'closeAuction' listing.id %}" class="btn btn-primary">Close auction</a>
    {% endif %}
    <h3>{{ listing.category }}</h3>
    <h3>Price: ${{ listing.price }}</h3>
    {% if listing.status == "Finished" %}
      <h4>The auction is closed.</h4>
      <h5>Winner: {{ listing.winner }} </h5>
    {% else %}
      <h4>Add your Bid: </h4>
        <form class="" action="bid/{{listing.id}}" method="post">
          {% csrf_token %}
          <input type="number" name="bid" value="" placeholder="Bid" min=1>
          <input class="btn btn-primary" type="submit" name="" value="Bid Now">
        </form>
    {% endif %}
    <img src="{{ listing.imgurl }}" alt="">
    <h4>Add comment:</h4>
    <form action="comment/{{listing.id}}" method="POST">
      {% csrf_token %}
      <input type="text" name="msg">
      <input type="submit" value="Comment">
    </form>
    <h4>Comments:</h4>
    {% for comment in comments %}
      {% if comment.item_id.id == listing.id %}
      <li> {{ comment.user }}: {{ comment.msg }}</li>
      {% endif %}
    {% endfor %}
{% endblock %}