{% extends "auctions/layout.html" %}

{% block body %}
<h2>Watchlist</h2>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Title</th>
        <th scope="col">Minimum Price</th>
        <th scope="col">Current Price</th>
      </tr>
    </thead>
    <tbody>
        {% for watchlist in watchlists %}
            {% if watchlist.user == request.user %}
            {% for data in watchlist.product.all %}
            <tr>
                <td>{{ data.category }}</td>
            </tr>
            <tr>
                <td>{{ data.title }}</td>
            </tr>
            <tr>
                <td>{{ data.min_price }}</td>
            </tr>
            <tr>
                <td>"CurrentPrice"</td>
            </tr>
            {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
  </table>

{% endblock %}