{% extends "auctions/layout.html" %}

{% block body %}
<h2>Watchlist</h2>
<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Category</th>
        <th scope="col">Title</th>
        <th scope="col">Current Price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
        {% for watchlist in watchlists %}
            {% if watchlist.user == request.user %}
            {% for listing in watchlist.product.all %}
            <tr>
                <td>{{ listing.category }}</td>
                <td>{{ listing.title }}</td>
                <td>{{ listing.price }}</td>
                <td><a href="watchlist/delete/{{listing.id}}" class="btn btn-primary">Delete</a> <a href="{% url 'product_detail' listing.id %}" class="btn btn-primary">Bid</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
  </table>
{% endblock %}